-const wikiUrl = page.footer.wikiURL
-const footerClass = ["container","footer-section"]
footer(class=footerClass)
 a(href=wikiUrl target="_blank") #{page.footer.footerText}
 p copyright @2019 | synopi.com