extends ../sportsLayout/layout
block body-content
 div(class="container")
  div(class="owl-carousel")
   -const carouselContent = page.body.carouselContent
   each content in carouselContent
    div(class=content.classList)
     h1 #{content.text}
 
block body-script-tag
 script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
 -const jsUrls = page.body.scriptUrls
 each url in jsUrls
  script(type="text/javascript" src=url)
