extends ../sportsLayout/layout
block body-content
 -const contentClass = ["container","body-section"]
 -const imgUrl = page.body.img
 section(class=contentClass)
  h1 Basic Rules of #{page.body.bodyText}
  img(src=imgUrl alt="")
  ul
   -const rules = page.body.game_rules
   each rule in rules
    li= rule
block body-script-tag